{{#extends "base"}}
{{#block "content"}}
    <div>
        <h1 class='text-center'>Hello To Nirvana of Raw Fishes!</h1>
        <img src='sushi-bar.jpg' alt='Sushi Bar'/>      
    </div>
{{/block}}
{{/extends}}